body {
  background-color: #eeeeee !important;
}
.section-one {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.profile {
  display: flex;
  align-items: center;
  gap: 20px;
}
.description {
  color: #abb6ba;
  font-size: 20px;
  margin: 0px;
  width: 260px !important;
  border: 0px;
}
.description:focus-visible{
  outline: none !important;
}
.photo {
  display: flex;
  width: 70px;
}
.photo-1 {
  border-radius: 10px;
  width: 15%;
}
.posts {
  display: flex;
  gap: 10px;
  padding: 20px 0px 20px 35px;
}
.body-card{
  width: 600px;
  height: 350px;
  border: 1px solid #C4C4C4;
  background-color: white;
  box-shadow: 1px 1px #c4c4c4 !important;
  border-radius: 7px !important;
}
.profile-photo{
  display: flex;
  gap: 30px;
  padding-top: 5%;
  padding-left: 7%;
}
.line-1{
  width:100%;
  height: 1px;
  display: flex;
  background-color: #CCD2D2;
  margin-bottom: 30px;
  margin-top: 20px;
}
.share{
  padding-left: 35px;
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}
.add-photo{
  font-size: 17px;
  margin: 0px;
  display: flex;
  align-items: center !important;
  color: #C4C4C4;
  font-weight: 500 !important;
  font-family:Arial, Helvetica, sans-serif;
}
.rectangle{
  width: 15%;
  border: 2px solid #C4C4C4;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 31px !important;
}
.share-button{
  border: 0px;
  background-color: #1666B3;
  width: 80px;
  border-radius: 10px;
  color: white;
  font-size: 15px;
  margin-left: auto;
  margin-right: 35px;
  font-weight: 600;
}
.section-post{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  }
  
  @media (max-width: 768px) {
  .body-card{
    width: 80%;
  }
  .line{
    width: 100%;
    margin-bottom: 10px;
  }
  .posts{
   width: 100%;
   height: auto;
   padding-left: 20px;
  }
  .description{
    font-size: 12px;
  }
  .add-photo{
    font-size: 12px;
  }
  .share-button{
    font-size: 10px;
    width: 20%;
  }
  .share{
    padding-left: 20px;
  }
  .photo{
    width: 15%;
  }
  .add-photo-icon{
    width: 20px;
    height: 20px;
  }
  .body-card{
    height: 210px;
    padding-bottom: 10px;
  }
  .profile-photo{
    padding: 20px 0px 0px 20px;
    gap: 10px;
  }
  }
.first-post-card{
    width: 600px !important;
    height: auto;
    background-color: #ffffff;
    border: 1px solid #C4C4C4;
    background-color: white;
    box-shadow: 1px 1px #c4c4c4 !important;
    border-radius: 7px !important;
    position: relative;
}

.user-info{
  display: flex;
  gap: 30px;
  padding-top: 5%;
  padding-left: 7%;
  align-items: center;
  width: 100% !important;
}

.user-name{
  display: flex;
  width: 100%;
}

.options{
  float: right;
  width: 100%;
  justify-content: right;
  display: flex;
  margin-right: 7%;
}

.post-content{
  margin: 3% 7%;
  text-align: justify;
  font-weight: 600;
}

.cat-photo img{
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.img-icon{
  display: flex;
  justify-content: right;
  margin-top: 3%;
  margin-right: 7%;
  margin-bottom: 2%;
}

.last-line{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line-2{
height: 1px;
width: 90%;
background-color: #DDDDDD;
margin-bottom: 3%;
}

.interactions{
  display: flex;
  align-items: center;
  justify-content: center;
}

.interaction-menu{
  display: flex;
  gap: 7%;
  align-items: center;
  justify-content: center;
  margin-bottom: 3%;
}

.interaction-menu > h6{
  color: #626262;
  align-items: center;
  display: flex;
  margin: 0px;
}

.last-post-card{
  width: 600px !important;
  height: auto;
  background-color: #ffffff;
  border: 1px solid #C4C4C4;
  background-color: white;
  box-shadow: 1px 1px #c4c4c4 !important;
  border-radius: 7px !important;
}

.end-of-post{
  margin-bottom: 30px;
}